:root {
    --colorful-color-header: #C2BBFB;
    --colorful-color-main: #B4ADEA;
    --colorful-color-background: #6C738D;
    --colorful-color-footer: #917BC1;
    --colorful-canvas-background: #000000;
    --colorful-text-color: #000000;

    --color-header: #2b2b2b;
    --color-main: #373737;
    --color-background: #575757;
    --color-footer: #171717;
    --canvas-background: #000000;
    --text-color: #fff;

    --color-button-default-1: #9eff8e;
    --color-button-default-2: #48ff4e;
    --color-button-default-3: #11ff17;
    --text-button-default: #ffffff;
    --color-main: #373737;

    --color-button-violet-1: #b164ff;
    --color-button-violet-2: #9a3efd;
    --color-button-violet-3: #7c09ff;

    --color-button-red-1: #ff5151;
    --color-button-red-2: #ff1e1e;
    --color-button-red-3: #ff0000;
}

.green-theme {
    --button-color-bg: var(--color-main);
    --button-color-pastel: var(--color-button-default-1);
    --button-color-bright: var(--color-button-default-2);
    --button-color-pressed: var(--color-button-default-3);
    --button-color-text: var(--text-button-default);
}

.red-theme {
    --button-color-bg: var(--color-main);
    --button-color-pastel: var(--color-button-red-1);
    --button-color-bright: var(--color-button-red-2);
    --button-color-pressed: var(--color-button-red-3);
    --button-color-text: var(--text-button-default);
}

.violet-theme {
    --button-color-bg: var(--color-main);
    --button-color-pastel: var(--color-button-violet-1);
    --button-color-bright: var(--color-button-violet-2);
    --button-color-pressed: var(--color-button-violet-3);
    --button-color-text: var(--text-button-default);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Courier New", Courier, monospace;
}

body {
    background-color: var(--color-background);
    color: var(--text-color);
    min-height: 100vh;
}

header {
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;

    padding: 0 1.5rem;
    background: var(--color-header);

    position: sticky;
    z-index: 999;
    top: 0;
}

main {
    max-width: 2000px;
    min-height: calc(100vh - 5rem - 5rem);
    margin: 0 auto;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-main);
}

.main__block {
    width: 100%;
    height: fit-content;

    padding: 0 2rem;
}

/*.game__container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: start;*/
/*    flex-wrap: nowrap;*/
/*    flex-direction: row;*/
/*}*/

.game__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.settings__container {
    grid-area: 1 / 1 / 3 / 2;

    padding: 0 2rem 0 0;

    display: flex;
    flex-direction: column;
}

.settings__container > h1:first-of-type {
    margin-left: 0.5rem;
    margin-bottom: 1rem;

    font-weight: 400;
}

.start__buttons {
    margin-bottom: 1rem;
}

.settings__label {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;

    font-weight: 400;
}

.settings__element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slider__container {
    width: 100%;
    height: fit-content;
}

.switch__container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.switch__wrapper {
    width: fit-content;
    height: fit-content;
    padding: 0 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.canvas__container {
    grid-area: 1 / 2 / 2 / 3;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas__element {
    width: 100%;
    height: 100%;

    background: var(--canvas-background);

    border: 3px solid var(--color-footer);
    border-radius: 0.5rem;

    /*box-shadow: 0 0 0.5rem black;*/
}

.colors__container {
    grid-area: 2 / 2 / 3 / 3;

    padding-top: 1rem;
}

.color__container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color__wrapper {
    width: fit-content;
    height: fit-content;
    padding: 0 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colors__label {
    font-weight: 400;
}

footer {
    height: 5rem;
    padding: 1rem 2rem;

    font-weight: 400;

    text-align: center;
    background-color: var(--color-footer);
}

footer p:not(:first-of-type) {
    margin-top: 0.25rem;
}

footer p:first-of-type {
    margin-top: 0.5rem;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
}

@media (max-width: 1279px) {
    .game__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .settings__container {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin-bottom: 1rem;

        order: 2;
    }

    .canvas__container {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;

        order: 1;
    }

    .color__container {
        width: 100%;
        height: fit-content;

        order: 3;
    }
}