/*:root {*/
/*    --color-header: #C2BBFB;*/
/*    --color-main: #B4ADEA;*/
/*    --color-background: #6C738D;*/
/*    --color-footer: #917BC1;*/
/*    --canvas-background: #000000;*/
/*    --text-color: #000000;*/
/*}*/

:root {
    --color-header: #2b2b2b;
    --color-main: #373737;
    --color-background: #575757;
    --color-footer: #171717;
    --canvas-background: #000000;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;

    background-color: var(--color-background);
    color: var(--text-color);
    min-height: 100vh;
}

header {
    height: 5rem;

    display: flex;
    justify-content: start;
    align-items: center;

    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;

    padding: 0 1.5rem;
    background: var(--color-header);

    position: sticky;
    top: 0;
}

main {
    max-width: 2000px;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-main);
}

.canvas__container {
    width: 40rem;
    height: 40rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: var(--canvas-background);

    border: 3px solid var(--color-footer);
    border-radius: 0.5rem;

    /*box-shadow: 0 0 0.5rem black;*/
}

footer {
    padding: 1rem 2rem;

    font-weight: 400;

    text-align: center;
    background-color: var(--color-footer);
}

footer p:not(:first-of-type) {
    margin-top: 0.25rem;
}

footer p:first-of-type {
    margin-top: 0.5rem;
}