.switch__wrapper > label {
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;

    white-space: nowrap;
}

.switch-violet {
    --color-switch-off: var(--color-button-red-1);
    --color-switch-on: var(--color-button-violet-1);
    --color-switch-off-hover: var(--color-button-red-2);
    --color-switch-on-hover: var(--color-button-violet-2);
    --color-switch-off-shadow: var(--color-button-red-3);
    --color-switch-on-shadow: var(--color-button-violet-3);
}

.switch {
    position: relative;
    width: 60px;
    min-width: 60px;
    height: 30px;
}

.switch input {
    display: none;
}

.switch label {
    min-width: fit-content;

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-switch-off);
    border-radius: 8px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

.switch label:hover {
    box-shadow: 0 0 30px var(--color-switch-off-shadow);
    background-color: var(--color-switch-off-hover);
}

.switch__disabled label, .disabled__label {
    opacity: 0.5;
    pointer-events: none;
}

.switch label:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 22px;
    border-radius: 4px;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + label {
    background-color: var(--color-switch-on);
}

.switch input:checked:hover + label {
    background-color: var(--color-switch-on-hover);
    box-shadow: 0 0 30px var(--color-switch-on-shadow);
}

.switch input:checked + label:before {
    transform: translateX(37px);
}